<%-include("header")-%>
<div class="container">
    <div class="jumbotron">
    <h1 class="display-4">Welcome to my homepage!</h1>
    <p class="lead"><%=locals.user?user:"admin@gmail.com"%></p>
    <p><a class="btn btn-primary btn-lg" href="/route/logout" role="button">Log Out</a></p>
    </div>
    </div>
<%-include("header")-%>