<%-include("header")-%>
<div class="container">
    <!-- <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">My Homepage</a>
    </nav> -->
    <div class="jumbotron">
    <h1 class="display-4">Welcome to my homepage!</h1>
    <p class="lead"><%=locals.user?user:"user"%></p>
    <p><a class="btn btn-primary btn-lg" href="/route/logout" role="button">Log Out</a></p>
    </div>
    </div>
    <img src="images/smart-feeder-pets-still-life.jpg" alt="">
<%-include("header")-%>